body{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif ;    
}
a{
    text-decoration: none;
}
#navbar{
    margin:20px;
}

#demon{
    object-fit: cover;
    height:max-content;
}
#logo{
    border-radius: 10px;
    height: 80px;
    margin: 0 10;
    
}

h1{
    text-align: center;color:black;
    font-family: cursive;
    text-decoration:double;
}
#data{
    font-family:cursive;
    font-size:xx-large;
   
}
#about{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#Description{
    width: 50%;
    padding-right: 10px;
}

#imaget{
    width: 50%;
}

#pice{
    border-radius: 10px;
    width: 100%;
    height: 600px;
}

#demon {
width: 100%;
}
.BREATHING{
    color:grey;
    margin-bottom: 16px;

}


h2{
    text-align: center;
}

#characters{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
h3{
    margin-bottom: 3px;
    margin-top: 0px;
}

.visit{
   float: right;
}
#footer{
    background-color:rgb(225, 46, 46);
    padding: 10px;
    margin-top: 80px;
    text-align: center;
}
#footerlinks{
    list-style: none;
   
}

#footerlinks li{
    display: inline;
    margin: 0 30px;
}

#copy{
   color: grey; 
}

#star{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    padding: 8px;
}
#firstfont{
    font-family:cursive;
    color: red;
}

#JAPANN{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}
#famos{
    
}